<div class='message' data-time="<%= message.created_at.to_i %>">

	<span class="messagesender"><%= message.user.name %></span>
	<span class="messagetext"><%= message.message %></span>
	<span class="timestamp"><%= message.created_at.strftime("%k:%M") %><br /></span>

</div>