// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-form {
	margin: 0;
	width: 500px;

	#message_message {
		padding: 5px;
		width: 80%;
		margin-top: 10px;
		border-radius: 3px;
		border: 1px solid;
		background-color: #CEEEFA;
	}

	input[type="submit"] {
		margin-left: 10px;
		padding: 5px;
		border-color: #000000;
		border-radius: 10px;

		&:hover {
			cursor: hand;
			cursor: pointer;
		}
	}
}

.message {
	padding: 10px;
	border: 1px solid #111111;
	border-radius: 5px;
	position: relative;
	margin: 0 10px 10px 0;
	height: auto;
	width: 80%;
}


.messagesender {
	font-size: 13px;
}

.messagetext {
	margin-left: 10px;
	
}

.timestamp {
	right: 0;
	margin-right: 10px;
	position: absolute;
}